<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bei.forum.mapper.DiscussAreaMapper">

    <insert id="addArea" parameterType="DiscussArea">
        insert into discuss_area (name, url, words) value (#{name}, #{url}, #{words});
    </insert>

    <select id="showAreas" resultType="DiscussArea">
        select id, name, url, words from discuss_area;
    </select>

</mapper>