<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bei.forum.mapper.NewsMapper">
    <resultMap id="BaseResMap" type="News">
        <id column="_id" jdbcType="INTEGER" property="id" />
        <result column="sender" jdbcType="INTEGER" property="sender" />
        <result column="receiver" jdbcType="INTEGER" property="receiver" />
        <result column="carrier_id" jdbcType="INTEGER" property="carrierId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="state" jdbcType="BIT" property="state" />
    </resultMap>

    <select id="showComment" parameterType="int" resultType="java.util.Map">
        select news._id, sender, receiver, carrier_id, type, create_time, content, state,
            u._id, name, avatar_order,
           avatar.link
        from news LEFT JOIN users u on news.sender = u._id
            LEFT JOIN avatar on avatar_order = avatar.`order`
        where carrier_id = #{id};
    </select>

    <insert id="send" parameterType="News">
        insert
        into news (sender, receiver, carrier_id, type, create_time, content)
        VALUE (#{sender}, #{receiver}, #{carrierId}, #{type}, #{createTime}, #{content});
    </insert>

    <select id="count" resultType="int">
        select COUNT(_id) from news where carrier_id = #{articleId} and type = #{type};
    </select>

    <select id="oneCollected" resultType="int">
        select distinct carrier_id from news where sender = #{id};
    </select>

    <select id="received" parameterType="int" resultType="java.util.Map">
        select
            users.name,
            carrier_id, type, create_time, content
        from news, users
        where receiver = #{receiver} and users._id = news.sender;
    </select>

    <update id="read" parameterType="int">
        update news set state = 1 where receiver = #{receiver};
    </update>

    <select id="noRead" parameterType="int" resultType="int">
        select COUNT(_id) from news where receiver = #{receiver} and state = 0;
    </select>

    <!--按type='comment的carrier_id出现次数-->
    <select id="mostComment" resultType="int">
        SELECT carrier_id
        FROM `news`
        WHERE TYPE = 'comment'
        GROUP BY carrier_id
        ORDER BY COUNT(carrier_id) desc
        LIMIT 10;
    </select>

    <!--按create_time返回carrier_id-->
    <select id="recentComment" resultType="int">
        SELECT DISTINCT carrier_id
        FROM news
        WHERE TYPE = 'comment'
        ORDER BY create_time DESC
        limit 10;
    </select>

    <select id="getCommentAmount" resultType="int">
        select COUNT(_id) from news where type = 'comment';
    </select>

</mapper>