<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bei.forum.mapper.PostsMapper">
    <resultMap id="BaseResultMap" type="Posts">
        <id column="_id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="CHAR" property="content" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="like" jdbcType="INTEGER" property="like" />
        <result column="visit" jdbcType="INTEGER" property="visit" />
        <result column="collection" jdbcType="INTEGER" property="collection" />
        <result column="comment" jdbcType="INTEGER" property="comment" />
    </resultMap>

    <select id="get" parameterType="int" resultMap="BaseResultMap">
        select * from posts where _id = #{id};
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select * from posts;
    </select>

    <select id="getByArea" parameterType="String" resultMap="BaseResultMap">
        select * from posts where area = #{area};
    </select>

</mapper>